In [2]:
import csv

import os 

import matplotlib.pyplot as plt 

import statistics

import pandas as pd
  

import numpy as np

In [3]:
df=pd.read_csv('USA_cars_datasets.csv')

In [4]:
print (df)

      Unnamed: 0  price      brand    model  year   title_status   mileage  \
0              0   6300     toyota  cruiser  2008  clean vehicle  274117.0
1              1   2899       ford       se  2011  clean vehicle  190552.0
2              2   5350      dodge      mpv  2018  clean vehicle   39590.0
3              3  25000       ford     door  2014  clean vehicle   64146.0
4              4  27700  chevrolet     1500  2018  clean vehicle    6654.0
...          ...    ...        ...      ...   ...            ...       ...
2494        2494   7800     nissan    versa  2019  clean vehicle   23609.0
2495        2495   9200     nissan    versa  2018  clean vehicle   34553.0
2496        2496   9200     nissan    versa  2018  clean vehicle   31594.0
2497        2497   9200     nissan    versa  2018  clean vehicle   32557.0
2498        2498   9200     nissan    versa  2018  clean vehicle   31371.0

       color                  vin        lot       state country  \
0      black    jtezu11f88k007763  159348797  new jersey     usa
1     silver    2fmdk3gc4bbb02217  166951262   tennessee     usa
2     silver    3c4pdcgg5jt346413  167655728     georgia     usa
3       blue    1ftfw1et4efc23745  167753855    virginia     usa
4        red    3gcpcrec2jg473991  167763266     florida     usa
...      ...                  ...        ...         ...     ...
2494     red    3n1cn7ap9kl880319  167722715  california     usa
2495  silver    3n1cn7ap5jl884088  167762225     florida     usa
2496  silver    3n1cn7ap9jl884191  167762226     florida     usa
2497   black    3n1cn7ap3jl883263  167762227     florida     usa
2498  silver    3n1cn7ap4jl884311  167762228     florida     usa

          condition
0      10 days left
1       6 days left
2       2 days left
3     22 hours left
4     22 hours left
...             ...
2494    1 days left
2495  21 hours left
2496  21 hours left
2497    2 days left
2498  21 hours left

[2499 rows x 13 columns]

In [5]:
clean_csv = df.dropna()

In [6]:
clean_csv.head()

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left

In [7]:
df['price_mileage_Ratio']= df ['price']/df['mileage']

In [8]:
brand_mileage  = df.groupby('brand')['mileage'].median()
brand_mileage

brand
acura              118250.0
audi               121627.5
bmw                 33110.0
buick               25434.0
cadillac            34008.0
chevrolet           46494.0
chrysler            40189.0
dodge               32548.5
ford                34277.0
gmc                 32980.5
harley-davidson      9502.0
heartland               1.0
honda               78075.0
hyundai             35623.0
infiniti            20979.5
jaguar              20849.0
jeep                29653.0
kia                 43761.0
land                26982.5
lexus               22391.0
lincoln             52123.0
maserati            37021.0
mazda               82647.0
mercedes-benz       44460.0
nissan              36460.5
peterbilt          942263.5
ram                 30421.0
toyota             274117.0
Name: mileage, dtype: float64

In [9]:
ratio ={
    
    'brand mileage': brand_mileage



}
ratio

{'brand mileage': brand
 acura              118250.0
 audi               121627.5
 bmw                 33110.0
 buick               25434.0
 cadillac            34008.0
 chevrolet           46494.0
 chrysler            40189.0
 dodge               32548.5
 ford                34277.0
 gmc                 32980.5
 harley-davidson      9502.0
 heartland               1.0
 honda               78075.0
 hyundai             35623.0
 infiniti            20979.5
 jaguar              20849.0
 jeep                29653.0
 kia                 43761.0
 land                26982.5
 lexus               22391.0
 lincoln             52123.0
 maserati            37021.0
 mazda               82647.0
 mercedes-benz       44460.0
 nissan              36460.5
 peterbilt          942263.5
 ram                 30421.0
 toyota             274117.0
 Name: mileage, dtype: float64}

In [16]:
import matplotlib.pyplot as plt

plt.figure(figsize=(12, 6))
plt.barh(brand_mileage, mileage, color='skyblue')
plt.xlabel('Mileage')
plt.ylabel('Brand')
plt.title('Mileage of Different Brands')
plt.tight_layout()
plt.show()

NameError: name 'mileages' is not defined